{
	"singleQuote": true,
	"vueIndentScriptAndStyle": false,
	"useTabs": true,
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"experimentalTernaries": false,
	"jsxSingleQuote": true,
	"printWidth": 100,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"singleAttributePerLine": true,
	"requirePragma": false,
	"tabWidth": 1,
	"semi": true,
	"trailingComma": "es5",
	"embeddedLanguageFormatting": "auto"
}
