@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(i, svg) {
 font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
}

html {
 font-size: 12px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-checkbox + .s-checkbox {
 margin-left: 20px;
}

.s-checkbox:first-of-type {
 margin-left: 0;
}